:root {
  --borders: black;
  --background-color: #329453;
  --forground-color: #ddd;
  --text-color: black;
  --accent-color: #aaa;
}
* {
  border: 2px solid var(--borders);
  box-sizing: border-box;
  color: var(--text-color);
  border-collapse: collapse;
}

body, html {
  padding: 0px;
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
  background: var(--background-color);
}

.block,.header {
  border-radius: 4px;
}

h1,h2,h3,h4,h5,h6 {
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.title {
  position: absolute;
  top: calc(50% - 10px);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

p, a, b, i, u, strike, ul, ol, li, sup, bolder, question, main {
  border: none;
}
p {
  margin: 0px;
  margin-bottom: 10px;
}
bolder {font-weight: 900;}

a:visited {color: #000;}
a:hover {color: #555;}
a:active {color: #aaa;}
.reg-active {font-weight: bold;text-decoration: underline;margin: 0px;}

body, html{
  border: none;
}

main {
  padding: 20px;
  background: var(--forground-color); /*Fallback*/
  /* background-image: url("lightning.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 600px;
  width: 95%;
  margin: auto;
  /*box-shadow: 5px 5px 10px var(--forground-color);*/
}

.header, .block {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: var(--forground-color);
}

.sticky {
  z-index: 999;
  position: sticky;
  top: 0px;
  transition: 0.5s;
}

.dropbtn {
  font-family: 'Courier New', Courier, monospace;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: transparent;
}

a.dropbtn {
  font-family: 'Courier New', Courier, monospace;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: -1px;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 250px;
  z-index: 1;
  margin-left: -1px;
}

.dropdown-content a, .dropdown:hover .dropdown {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
}

.dropdown-content .next {
  border-top: 1px var(--borders) solid;
}
.dropdown-content{background: var(--forground-color);}
.dropdown-content a:hover {background-color: #333333; color: #ffffff;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #333333; color: #ffffff;}
.dropdown-content a:hover .fas { color: #ffffff; }

.active {
  background: #333;
  font-weight: bold;
  color: #ddd;
}
.active .fas {
  color: #ffffff;
}
img {
    max-width: 100%;
}
/* logo */
.img {
  border: none;
  border-right: 1px var(--borders) solid;
  transition: 0.5s;
  padding-right: 5px;
  margin-right: 5px;
}
.team-fruit {
  display: inline-block;
  border: 0px none transparent;
  height: 1em;
  margin-bottom: -0.2em;
  margin-right: 5px;
  padding-right: 0px;
}

.award-text {
  display: inline-block;
  padding: 5px;
  opacity: 0;
  transition: 1s;
  background: var(--borders);
  margin-top: -5px;
  color: white;
  position: relative;
  overflow: hidden;
}
.award-text.left-right {height:100%;width:0%;top:calc(-100%);left: 0%}
.award-text.top-bottom {height:0%;width:100%;top:calc(-100%);left: 0%}
.award-text b {
  color: white;
  margin: 0px;
}
.award-img {
  height: 100%;
  width: 100%;
  margin: 0px;
  position: relative;
  top: 0px;
  border-style: none;
}
.award-box {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.award-box.top-bottom {
  margin-top: -180px;
}
.award-img:hover ~ .award-text.left-right, .award-text.left-right:hover {
  opacity: 1;
  width: 100%;
  transition: 1s;
  padding: 5px;
}
.award-img:hover ~ .award-text.top-bottom, .award-text.top-bottom:hover {
  opacity: 1;
  height: 100%;
  transition: 1s;
  padding: 5px;
}
iframe {
  max-width: 100%;
  height: 360px;
}
